<script th:fragment="script" th:inline="javascript">
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';
    function formatDate(timestamp) {
        const date = new Date(timestamp);
        const hours = String(date.getHours()).padStart(2, '0');
        const minutes = String(date.getMinutes()).padStart(2, '0');
        return `${hours}:${minutes}`;
    }

    var temperaturesJson = JSON.parse(/*[[${temperaturesJson}]]*/ '');
    var humiditiesJson = JSON.parse(/*[[${humiditiesJson}]]*/ '');
    let temperatursModuleNames = Object.keys(temperaturesJson);
    console.log(temperaturesJson);
    let humiditiesModuleNames = Object.keys(humiditiesJson);
    generateModuleNamesForTemp()
    generateModuleNamesForHum()
    selectTemperatureItem(temperatursModuleNames[0] ?? "")
    selectHumidityItem(humiditiesModuleNames[0] ?? "")

    $('.module-name').on('click', function () {
        let name = $(this).attr('data-name');
        selectTemperatureItem(name)
    })
    $('.module-name-hum').on('click', function () {
        let name = $(this).attr('data-name');
        selectHumidityItem(name)
    })

    function selectTemperatureItem(name) {
        window.selectedName = name;
        let values = [];
        let dates = [];
        let innerValues = temperaturesJson[name]
        innerValues.forEach(val => {
            const formattedDate = formatDate(val.second);
            if (!dates.includes(formattedDate)) { // Check if the date already exists
                dates.push(formattedDate);
                values.push(val.first)
            }
        })
        $("#temperature-title").text(name)
        generateLineChart(dates, values)
    }
    function selectHumidityItem(name) {
        window.selectedNameHum = name;
        let values = [];
        let dates = [];
        let innerValues = humiditiesJson[name]
        innerValues.forEach(val => {
            const formattedDate = formatDate(val.second);
            if (!dates.includes(formattedDate)) { // Check if the date already exists
                dates.push(formattedDate);
                values.push(val.first)
            }
        })
        $("#humidity-title").text(name)
        generateLineChartForHumidity(dates, values)
    }
    function generateModuleNamesForTemp() {
        let modulesContainer = $("#modules-container");
        temperatursModuleNames.forEach(name => {
            let ele = $(`<a class="dropdown-item module-name"  style="cursor:pointer"></a>`)
            ele.text(name)
            ele.attr('data-name', name)
            ele.appendTo(modulesContainer)
            modulesContainer.append(ele)
        })
    }
    function generateModuleNamesForHum() {
        let modulesContainer = $("#hum-modules-container");
        temperatursModuleNames.forEach(name => {
            let ele = $(`<a class="dropdown-item module-name-hum" style="cursor:pointer"></a>`)
            ele.text(name)
            ele.attr('data-name', name)
            ele.appendTo(modulesContainer)
            modulesContainer.append(ele)
        })
    }
    function generateLineChart(dates, data) {
        var ctx = document.getElementById("myAreaChart");
        if (window.myLineChart) {
            window.myLineChart.destroy()
        }
        window.myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [
                    {
                        label: "Temperature",
                        lineTension: 0.3,
                        backgroundColor: "rgba(78, 115, 223, 0.05)",
                        borderColor: "rgba(78, 115, 223, 1)",
                        pointRadius: 0,
                        pointBackgroundColor: "rgba(78, 115, 223, 1)",
                        pointBorderColor: "rgba(78, 115, 223, 1)",
                        pointHoverRadius: 3,
                        pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                        pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                        pointHitRadius: 10,
                        pointBorderWidth: 2,
                        data: data,
                    }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                }, legend: {
                    display: false
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ': ' + tooltipItem.yLabel + " C";
                        }
                    }
                }
            }
        });

    }


    function generateLineChartForHumidity(dates, data) {
        var ctx = document.getElementById("humidityChart");
        if (window.humidityChartCtx) {
            window.humidityChartCtx.destroy()
        }
        window.humidityChartCtx = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [
                    {
                        label: "Humidity",
                        lineTension: 0.3,
                        backgroundColor: "rgba(78, 115, 223, 0.05)",
                        borderColor: "rgba(78, 115, 223, 1)",
                        pointRadius: 0,
                        pointBackgroundColor: "rgba(78, 115, 223, 1)",
                        pointBorderColor: "rgba(78, 115, 223, 1)",
                        pointHoverRadius: 3,
                        pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                        pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                        pointHitRadius: 10,
                        pointBorderWidth: 2,
                        data: data,
                    }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                }, legend: {
                    display: false
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ': ' + tooltipItem.yLabel + " %";
                        }
                    }
                }
            }
        });

    }
</script>