<script th:fragment="script" th:inline="javascript">
    const generateOtherModuleMenuItem = `<div class="dropdown-header">Other Modules</div>`;

    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';
    var temperaturesJson = JSON.parse(/*[[${temperaturesJson}]]*/ '');
    var humiditiesJson = JSON.parse(/*[[${humiditiesJson}]]*/ '');
    $("#prevDay").on('click', function () {
        let date = new Date(window.currentTime - window.dayInMillis);
        window.currentTime = date.getTime();
        $("#tempCurrentTimeString").text(formatDateAsFullDate(date));
        getDataByDate('temp', window.currentTime)
    })
    $("#humPrevDay").on('click', function () {
        let date = new Date(window.humCurrentTime - window.dayInMillis);
        window.humCurrentTime = date.getTime();
        $("#humCurrentTimeString").text(formatDateAsFullDate(date));
        getDataByDate('hum', window.humCurrentTime)
    })

    $("#nextDay").on('click', function () {
        let date = new Date(window.currentTime + window.dayInMillis);
        window.currentTime = date.getTime();
        $("#tempCurrentTimeString").text(formatDateAsFullDate(date));
        getDataByDate('temp', window.currentTime)
    })

    $("#humNextDay").on('click', function () {
        let date = new Date(window.humCurrentTime + window.dayInMillis);
        window.humCurrentTime = date.getTime();
        $("#humCurrentTimeString").text(formatDateAsFullDate(date));
        getDataByDate('hum', window.humCurrentTime)
    })

    window.currentTime = Date.now();
    window.humCurrentTime = Date.now();
    window.dayInMillis = 1e3 * 60 * 60 * 24;
    var temperatursModuleNames = 0;
    var humiditiesModuleNames = 0;
    $("#tempCurrentTimeString").text(formatDateAsFullDate(window.currentTime));
    $("#humCurrentTimeString").text(formatDateAsFullDate(window.humCurrentTime));
    checkIfThereData();
    function checkIfThereData() {
        temperatursModuleNames = Object.keys(temperaturesJson);
        humiditiesModuleNames = Object.keys(humiditiesJson);
        console.log("temperatursModuleNames", temperatursModuleNames);
        console.log("humiditiesModuleNames", humiditiesModuleNames);
        $("#hum-modules-container").empty();
        $("#hum-modules-container").append(generateOtherModuleMenuItem);
        $("#modules-container").empty();
        $("#modules-container").append(generateOtherModuleMenuItem);
        $("#temperature-title").text("");
        $("#humidity-title").text("");
        if (temperatursModuleNames.length == 0) {
            $("#temp-no-data").css('display', 'flex');
            $("#myAreaChart").css('display', 'none');
        } else {
            $("#temp-no-data").css('display', 'none');
            $("#myAreaChart").css('display', 'block');
            generateModuleNamesForTemp()
            selectTemperatureItem(temperatursModuleNames[0] ?? "")
        }
        if (humiditiesModuleNames.length == 0) {
            $("#hum-no-data").css('display', 'flex');
            $("#humidityChart").css('display', 'none');
        } else {
            $("#hum-no-data").css('display', 'none');
            $("#humidityChart").css('display', 'block');
            generateModuleNamesForHum()
            selectHumidityItem(humiditiesModuleNames[0] ?? "")
        }

        $('.module-name').on('click', function () {
            let name = $(this).attr('data-name');
            selectTemperatureItem(name)
        })
        $('.module-name-hum').on('click', function () {
            let name = $(this).attr('data-name');
            selectHumidityItem(name)
        })

    }
    function selectTemperatureItem(name) {
        window.selectedName = name;
        let values = [];
        let dates = [];
        let innerValues = temperaturesJson[name]
        innerValues.forEach(val => {
            const formattedDate = formatDate(val.second);
            if (!dates.includes(formattedDate)) { // Check if the date already exists
                dates.push(formattedDate);
                values.push(val.first)
            }
        })
        $("#temperature-title").text(name)
        generateLineChart(dates, values)
    }
    function selectHumidityItem(name) {
        window.selectedNameHum = name;
        let values = [];
        let dates = [];
        let innerValues = humiditiesJson[name]
        innerValues.forEach(val => {
            const formattedDate = formatDate(val.second);
            if (!dates.includes(formattedDate)) { // Check if the date already exists
                dates.push(formattedDate);
                values.push(val.first)
            }
        })
        $("#humidity-title").text(name)
        generateLineChartForHumidity(dates, values)
    }
    function generateModuleNamesForTemp() {
        let modulesContainer = $("#modules-container");
        temperatursModuleNames.forEach(name => {
            let ele = $(`<a class="dropdown-item module-name"  style="cursor:pointer"></a>`)
            ele.text(name)
            ele.attr('data-name', name)
            ele.appendTo(modulesContainer)
            modulesContainer.append(ele)
        })
    }
    function generateModuleNamesForHum() {
        let modulesContainer = $("#hum-modules-container");
        humiditiesModuleNames.forEach(name => {
            let ele = $(`<a class="dropdown-item module-name-hum" style="cursor:pointer"></a>`)
            ele.text(name)
            ele.attr('data-name', name)
            ele.appendTo(modulesContainer)
            modulesContainer.append(ele)
        })
    }
    function generateLineChart(dates, data) {
        var ctx = document.getElementById("myAreaChart");
        if (window.myLineChart) {
            window.myLineChart.destroy()
        }
        window.myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [
                    {
                        label: "Temperature",
                        lineTension: 0.3,
                        backgroundColor: "rgba(78, 115, 223, 0.05)",
                        borderColor: "rgba(78, 115, 223, 1)",
                        pointRadius: 0,
                        pointBackgroundColor: "rgba(78, 115, 223, 1)",
                        pointBorderColor: "rgba(78, 115, 223, 1)",
                        pointHoverRadius: 3,
                        pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                        pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                        pointHitRadius: 10,
                        pointBorderWidth: 2,
                        data: data,
                    }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                }, legend: {
                    display: false
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ': ' + tooltipItem.yLabel + " C";
                        }
                    }
                }
            }
        });

    }

    function getDataByDate(required, currentDate) {
        let token = getCookieValue('token')
        axios.post("/get-temp-by-date", {
            currentDate: currentDate,
            required: required
        }, {
            headers: {
                'Authorization': `Bearer ${token}`,
            }
        }).then((result) => {

            if (required == 'temp') {
                temperaturesJson = result.data;
                temperatursModuleNames = Object.keys(temperaturesJson);
                // generateModuleNamesForTemp()
                // selectTemperatureItem(temperatursModuleNames[0] ?? "")
            } else {
                humiditiesJson = result.data;
                humiditiesModuleNames = Object.keys(humiditiesJson);
                // generateModuleNamesForHum()
                // selectHumidityItem(humiditiesModuleNames[0] ?? "")
            }

            checkIfThereData();

        }).catch(console.error);
    }

    function generateLineChartForHumidity(dates, data) {
        var ctx = document.getElementById("humidityChart");
        if (window.humidityChartCtx) {
            window.humidityChartCtx.destroy()
        }
        window.humidityChartCtx = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [
                    {
                        label: "Humidity",
                        lineTension: 0.3,
                        backgroundColor: "rgba(78, 115, 223, 0.05)",
                        borderColor: "rgba(78, 115, 223, 1)",
                        pointRadius: 0,
                        pointBackgroundColor: "rgba(78, 115, 223, 1)",
                        pointBorderColor: "rgba(78, 115, 223, 1)",
                        pointHoverRadius: 3,
                        pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                        pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                        pointHitRadius: 10,
                        pointBorderWidth: 2,
                        data: data,
                    }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                }, legend: {
                    display: false
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ': ' + tooltipItem.yLabel + " %";
                        }
                    }
                }
            }
        });

    }

    function formatDate(timestamp) {
        const date = new Date(timestamp);
        const hours = String(date.getHours()).padStart(2, '0');
        const minutes = String(date.getMinutes()).padStart(2, '0');
        return `${hours}:${minutes}`;
    }
    function formatDateAsFullDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }
    function getCookieValue(name) {
        const regex = new RegExp(`(^| )${name}=([^;]+)`)
        const match = document.cookie.match(regex)
        if (match) {
            return match[2]
        }
    }

</script>